mediapipe
opencv-python
numpy
tensorflow
scikit-learn

# pip install -r requirements.txt o au vez hacerlo manualmente:
# pip install mediapipe opencv-python numpy tensorflow scikit-learn
python3.10 -m venv venv310
.\venv310\Scripts\activate
python -m pip install --upgrade pip
pip install pyttsx3
pip install opencv-python
pip install mediapipe numpy tensorflow pyttsx3

#Opción alternativa 1 (instalación completa de OpenCV):
pip install opencv-python-headless  # Versión más ligera
# o
pip install opencv-contrib-python  # Versión con componentes extra

#conectar con mongo
pip install pymongo
pip install pymongo dnspython python-dotenv numpy


#verificar que se ha instalado correctamente:
pip show pymongo


pip install comtypes
pip install pypiwin32
pip install pyttsx3
pip install scikit-learn

#Para confirmar los paquetes instalados:
pip list

#para poder probar manualmente: ejecutar el 
#archivo test_import.py
python test_imports.py

#para borrar archivos antiguos:
Remove-Item .\model\gesture_model.h5, .\model\labels.pkl
rm model/gesture_model.h5 model/labels.pkl

#para poder entrenar el modelo:
python train_model.py

como ejecutar:
python main_interface.py



